.list {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin: auto;
}

.add-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin-bottom: 48px;
}

.actions {
    display: flex;
    align-items: center;
}

.delete-icon {
    cursor: pointer;
}